<mat-table [dataSource]="assignments" matSort>
  <!-- Student Column -->
  <ng-container matColumnDef="student">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
      "student.type" | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let assignment">{{
      assignment.student.firstName + " " + assignment.student.lastName
    }}</mat-cell>
  </ng-container>

  <!-- Assignment Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
      "assignment.title" | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let assignment">{{ assignment.title }}</mat-cell>
  </ng-container>

  <!-- Due Date Column -->
  <ng-container matColumnDef="dueDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
      "assignment.dueDate" | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let assignment">{{
      assignment.dueDate | date
    }}</mat-cell>
  </ng-container>

  <!-- Submitted At Column -->
  <ng-container matColumnDef="submittedAt">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
      "assignment.submit" | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let assignment">
      <mat-icon *ngIf="assignment.submittedAt">check</mat-icon>
      <mat-icon *ngIf="!assignment.submittedAt">close</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Grade Column -->
  <ng-container matColumnDef="grade">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
      "student.grade" | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let assignment">{{
      assignment.grade ? assignment.grade : "Not graded yet"
    }}</mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>{{
      "label.action" | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let assignment">
      <!-- Add button to open dialog to grade assignment -->
      <button
        (click)="openGradeDialog(assignment)"
        color="primary"
        mat-button
        mat-flat-button
      >
        {{ "student.grade" | translate }}
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<!-- paginator -->
<mat-paginator
  [length]="totalAssignments"
  [pageSizeOptions]="[5, 10, 15]"
  [pageSize]="assignmentsPerPage"
  showFirstLastButtons
></mat-paginator>
