<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [opened]="isOpen"
    class="sidenav"
    mode="side"
    opened
    position="start"
  >
    <!-- Informations Utilisateur -->
    <div *ngIf="user$ | async as user" class="user-info">
      <mat-icon>account_circle</mat-icon>
      <div>
        <span>{{ user.email }}</span>
      </div>
    </div>

    <!-- Séparateur -->
    <mat-divider></mat-divider>

    <!-- Liens de Navigation -->
    <mat-nav-list *ngIf="user$ | async as user">
      <!-- Liens communs à tous les utilisateurs -->
      <a mat-list-item routerLink="/assignments">
        <mat-icon>list</mat-icon>
        {{ "title.listAssignments" | translate }}
      </a>

      <!-- Liens spécifiques pour les professeurs -->
      <ng-container *ngIf="user.role === 'professor'">
        <a mat-list-item routerLink="/assignments/add">
          <mat-icon>add</mat-icon>
          {{ "title.addAssignment" | translate }}
        </a>
        <a mat-list-item routerLink="/assignments/grade">
          <mat-icon>grade</mat-icon>
          {{ "title.noter" | translate }}
        </a>
        <a mat-list-item routerLink="/users">
          <mat-icon>people</mat-icon>
          {{ "title.manageUser" | translate }}
        </a>
        <a mat-list-item routerLink="/assignments/generate">
          <mat-icon>build</mat-icon>
          {{ "title.testDev" | translate }}
        </a>
      </ng-container>

      <!-- Liens spécifiques pour les étudiants -->
      <ng-container *ngIf="user.role === 'student'">
        <a mat-list-item routerLink="/grades">
          <mat-icon>grade</mat-icon>
          {{ "title.myGrades" | translate }}
        </a>
        <a mat-list-item routerLink="/resources">
          <mat-icon>library_books</mat-icon>
          {{ "title.ressources" | translate }}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
