mat-card {
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-content {
  padding: 16px;
}

table.mat-table {
  width: 100%;
  max-width: 100%;
}

mat-card-title {
  background-color: #5c6bc0;
  color: #ffffff;
  padding: 16px;
  margin: 0;
}
