<h2 mat-dialog-title>Devoir</h2>
<mat-dialog-content>
  <form class="form-edit">
    <mat-form-field class="field">
      <mat-label class="label">{{ "assignment.title" | translate }}</mat-label>
      <input [(ngModel)]="tempAssignment.title" [disabled]="!isEditMode" class="input" matInput name="title"/>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label class="label">{{ "assignment.description" | translate }}</mat-label>
      <input [(ngModel)]="tempAssignment.description" [disabled]="!isEditMode" class="input" matInput name="description"/>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label class="label">{{ "assignment.dueDate" | translate }}</mat-label>
      <input [(ngModel)]="tempAssignment.dueDate" [disabled]="!isEditMode" [matDatepicker]="picker" class="input" matInput name="date"/>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="row">
      <mat-form-field class="field">
        <mat-label class="label">{{ "assignment.teacher" | translate }}</mat-label>
        <mat-select [(ngModel)]="tempAssignment.professor._id" [disabled]="!isEditMode" [ngModelOptions]="{standalone: true}" class="input">
          <mat-option *ngFor="let professor of professors" [value]="professor._id">
            {{ professor.firstName }} {{ professor.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label class="label">{{ "assignment.subject" | translate }}</mat-label>
        <mat-select [(ngModel)]="tempAssignment.subject._id" [disabled]="!isEditMode" [ngModelOptions]="{standalone: true}" class="input">
          <mat-option *ngFor="let subject of subjects" [value]="subject._id">
            {{ subject.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngFor="let group of groups">
      <mat-checkbox [(ngModel)]="selectedGroups[group._id]" [disabled]="!isEditMode" [ngModelOptions]="{standalone: true}">
        {{ group.name }}
      </mat-checkbox>
    </div>
  </form>

  <mat-divider class="divider"></mat-divider>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button
    (click)="toggleEditMode()"
    *ngIf="isProfessor && !isEditMode"
    color="primary" mat-raised-button
  >
    {{ "button.edit" | translate }}
  </button>
  <button
    (click)="saveChanges()"
    *ngIf="isProfessor && isEditMode"
    color="primary" mat-raised-button
  >
    {{ "button.save" | translate }}
  </button>
  <button
    (click)="toggleEditMode()"
    *ngIf="isProfessor && isEditMode"
    color="accent" mat-raised-button
  >
    {{ "button.cancel" | translate }}
  </button>
  <button
    (click)="deleteAssignment()"
    *ngIf="isProfessor && isEditMode"
    color="warn" mat-raised-button
  >
    {{ "button.delete" | translate}}
  </button>
  <button
    mat-dialog-close
    mat-raised-button
  >
    {{ "button.close" | translate }}
  </button>
</mat-dialog-actions>
