<div class="auth-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "auth.login" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="loginForm">
        <!-- email -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "auth.email" | translate }}</mat-label>
          <input formControlName="email" matInput type="email" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <!-- password -->
        <mat-form-field appearance="fill">
          <mat-label>{{ "auth.password" | translate }}</mat-label>
          <input
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            matInput
          />
          <button
            (click)="togglePasswordVisibility()"
            mat-icon-button
            matSuffix
            type="button"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>

        <!-- error message -->
        <div *ngIf="message" class="error-message">{{ message }}</div>

        <!-- submit -->
        <button color="primary" mat-raised-button type="submit">
          {{ "auth.login" | translate }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
