<div class="page-container">
  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card class="stepper-container">
    <mat-card-title>{{"title.addAssignment" | translate}}</mat-card-title>

    <mat-card-content>
      <mat-horizontal-stepper #stepper [linear]="true">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel
            >{{"add.step1" | translate }}
            </ng-template
            >
            <div class="fields-container">
              <div class="form-field-container">
                <mat-form-field>
                  <mat-label>{{"assignment.title" | translate }}</mat-label>
                  <input formControlName="title" matInput required/>
                </mat-form-field>
              </div>

              <div class="form-field-container">
                <mat-form-field>
                  <mat-label>{{"assignment.description" | translate }}</mat-label>
                  <textarea
                    formControlName="description"
                    matInput
                    required
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="button-navigation">
              <button mat-flat-button color="primary" mat-button matStepperNext>{{"button.next" | translate}}</button>
            </div>
          </form>
        </mat-step>
        <!-- Étape 2: Informations Complémentaires -->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel
            >{{"add.step2" | translate }}
            </ng-template
            >

            <div class="step-two-container">
              <div class="calendar-container">
                <mat-form-field class="form-field-calendar">
                  <mat-label>{{"assignment.dueDate" | translate}}</mat-label>
                  <input
                    [matDatepicker]="picker"
                    formControlName="dueDate"
                    matInput
                    required
                  />

                  <mat-datepicker #picker></mat-datepicker>
                  <mat-card class="inline-calendar-card">
                    <mat-calendar
                      (selectedChange)="onDateChange($event)"
                      [(selected)]="selectedDate"
                    ></mat-calendar>
                  </mat-card>
                </mat-form-field>
              </div>

              <div class="form-fields-container">
                <!-- Subject -->
                <mat-form-field>
                  <mat-label>{{"assignment.subject" | translate}}</mat-label>
                  <mat-select formControlName="subject" required>
                    <mat-option
                      *ngFor="let subject of subjects"
                      [value]="subject"
                    >
                      {{ subject.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Professor -->
                <mat-form-field>
                  <mat-label>{{"assignment.teacher" | translate}}</mat-label>
                  <mat-select formControlName="professor" required>
                    <mat-option
                      *ngFor="let professor of professors"
                      [value]="professor"
                    >
                      {{ professor.firstName }} {{ professor.lastName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Group -->
                <mat-form-field>
                  <mat-label>{{"assignment.group" | translate}}</mat-label>
                  <mat-select formControlName="group" required>
                    <mat-option *ngFor="let group of allGroups" [value]="group">
                      {{ group.name }} - {{ group.promotion.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="button-navigation">
              <button mat-flat-button color="primary" mat-button matStepperPrevious>{{"button.back" | translate}}</button>
              <button mat-flat-button color="primary" mat-button matStepperNext>{{"button.next" | translate}}</button>
            </div>
          </form>
        </mat-step>
        <!-- Étape 3: Résumé -->
        <mat-step>
          <ng-template matStepLabel>{{"add.step3" | translate}}</ng-template>

          <mat-card class="summary-card">
            <mat-card-title>{{"add.summary" | translate}}</mat-card-title>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <h4 matLine>{{"assignment.title" | translate}}</h4>
                  <p class="mat-body-1" matLine>
                    {{ firstFormGroup.value.title }}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <h4 matLine>{{"assignment.description" | translate}}</h4>
                  <p class="mat-body-1" matLine>
                    {{ firstFormGroup.value.description }}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <h4 matLine>{{"assignment.dueDate" | translate}}</h4>
                  <p class="mat-body-1" matLine>
                    {{ secondFormGroup.value.dueDate | date : "dd/MM/yyyy" }}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <h4 matLine>{{"assignment.subject" | translate}}</h4>
                  <p class="mat-body-1" matLine>
                    {{ secondFormGroup.value.subject.name }}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <h4 matLine>{{"assignment.teacher"| translate}}</h4>
                  <p class="mat-body-1" matLine>
                    {{ secondFormGroup.value.professor.firstName }}
                    {{ secondFormGroup.value.professor.lastName }}
                  </p>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>

          <div class="button-navigation">
            <button mat-flat-button color="primary" mat-button matStepperPrevious>{{"button.back" | translate}}</button>
            <button mat-flat-button color="primary" (click)="submit()" mat-button>{{"button.finish" | translate}}</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
