<div class="container">
  <mat-card class="result-card">
    <mat-card-content>
      <h2 class="title"> {{"generate.title" | translate }} </h2>

      <mat-slider
        [discrete]="thumbLabel"
        [max]="max"
        [min]="min"
        [showTickMarks]="showTicks"
        [step]="step"
        class="slider-margin">
        <input #slider [(ngModel)]="value" matSliderThumb>
      </mat-slider>

      <p class="value-label"> {{"generate.number" | translate }} : {{slider.value}}</p>
    </mat-card-content>
  </mat-card>

  <button (click)="onGenerate()" [disabled]="isLoading" color="primary" mat-raised-button>{{"button.generate" | translate}}</button>
  <mat-progress-spinner *ngIf="isLoading" class="spinner" mode="indeterminate"></mat-progress-spinner>
</div>
