<mat-toolbar color="primary">
  <button (click)="toggleSidenav()" class="mr-2" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <a class="nav-link mr-4" routerLink="/">
    <mat-icon class="mr-1">home</mat-icon>
    {{ "label.home" | translate }}
  </a>

  <a class="nav-link mr-4" routerLink="/calendar">
    <mat-icon class="mr-1">calendar_today</mat-icon>
    Mon Calendrier
  </a>

  <span class="flex-spacer"></span>

  <span class="flex-spacer"></span>

  <button [matMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Paramètres
    </button>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Déconnexion
    </button>
  </mat-menu>

  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

  <button [matMenuTriggerFor]="menuLanguage" mat-icon-button>
    <mat-icon>language</mat-icon>
  </button>

  <mat-menu #menuLanguage="matMenu">
    <button
      (click)="useLanguage(language)"
      *ngFor="let language of languages"
      mat-menu-item
    >
      {{ language }}
    </button>
  </mat-menu>

  <button (click)="toggleTheme()" mat-icon-button>
    <mat-icon>{{ isDarkTheme ? 'brightness_7' : 'brightness_2' }}</mat-icon>
  </button>

</mat-toolbar>
